.loginbox {
  margin-top: 50px;
  .panel-title-main {
    font-size: 40px;
    font-weight: bold;
  }
  .panel-heading {
    text-align: center;
  }
  .input-group {
    margin-top: 25px;
  }
  .controls {
    margin-top: 20px;
  }
}