.row
  .loginbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    .panel.panel-info
      .panel-heading
        .panel-title
          .panel-title-main
            | GEOX
          .panel-title-additional
            | click and collect
      .panel-body
        #login-alert.alert.alert-danger.col-sm-12 style="display:none"
        = form_for resource, as: resource_name, url: session_path(resource_name),
                :html => {:class => 'form-horizontal'} do |f|
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
          .input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            = f.password_field :password, class: 'form-control', placeholder: 'Password'
          - if devise_mapping.rememberable?
            .input-group
              .checkbox
                label
                  = f.check_box :remember_me
                  input#login-remember name="remember" type="checkbox" value="1" /
                  | Remember me
          .form-group
            .col-sm-12.controls
              = f.submit "Log in", class: 'btn btn-block btn-success'
          .actions
            = render "devise/shared/links"
